* {
    margin: 0px;
    padding: 0px;
}

:root {
    --color-blue: #5267DF;
    --color-pink: #FA5959;
    --color-gray: #737373;
    --color-white: #F7F7F7;
}

@font-face {
    font-family: "Roboto-Light.ttf";
    src: url(font/Roboto-Light.ttf);
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Roboto-Regular.ttf";
}

/* navbar----------- */
header {
    /* background-color: #52a7df; */
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container1 {
    /* background-color: #df5299; */
    width: 80%;
    height: 170px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    column-gap: 120px;
}

.cont1 {
    /* background-color: #b6a859; */
    width: 40%;
}

.cont1 img {
    /* background-color: #dfb752; */
    width: inherit;
}

.cont1 img:hover {
    cursor: pointer;
}

.cont2 ul {
    /* background-color: #dfcc52; */
    width: 300px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 17px;
    flex-direction: row;
    flex-wrap: wrap;
    text-transform: capitalize;
    font-weight: lighter;
    font-family: "Roboto-Light.ttf";
}

.cont2 li a {
    text-decoration: none;
    color: #000000;
}

.cont2 li a:hover {
    cursor: pointer;
    text-decoration: underline rgb(85, 213, 255);
}


.cont4 button {
    border: 0 solid;
    background-color: var(--color-pink);
    padding: 13px 27px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

.cont4 button:hover {
    cursor: pointer;
}


/* <!-- body1.......... --> */
.first {
    /* background-color: aqua; */
    width: 100%;
    height: 630px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    flex-direction: row;
}

.first1 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 70px;
    left: 130px;
    width: 38%;
    height: 370px;
    /* background-color: lightblue; */
    font-family: "Roboto-Light.ttf";
}

.first1>div {
    margin-top: 27px;
}

.first1 h1 {
    /* background-color: #FA5959; */
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
}

.first1 p {
    /* background-color: #79fa59; */
    font-size: 20px;
    font-weight: normal;
    color: var(--color-gray);
    line-height: 30px;
}

.first1 button {
    border: 0px solid;
    border-radius: 10px;
    background-color: var(--color-blue);
    padding: 15px 35px;
    font-size: 16px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    margin-right: 10px;
}

.first1 .button {
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.first1 button:hover {
    cursor: pointer;
    background: white;
    color: #000000;
}

.first1 .button:hover {
    background: var(--color-blue);
    color: rgb(255, 255, 255);
}

.first2 img {
    /* background-color: rgb(220, 134, 22); */
    border: 10px solid #313131;
    border-radius: 20px;
    width: 38%;
    height: 350px;
    position: absolute;
    top: 70px;
    right: 133px;
    z-index: 999;
}

.box1 {
    background-color: var(--color-blue);
    border: 0px solid rgb(5, 5, 14);
    border-radius: 160px 0px 0px 160px;
    height: 320px;
    width: 52%;
    position: absolute;
    top: 200px;
    right: 0%;
}


/* <!-- body2.......... --> */
.second {
    /* background-color: #df52c5; */
    background: var(--color-white);
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.second>div {
    /* background-color: #FA5959; */
    width: 50%;
    text-align: center;
    line-height: 35px;
    font-family: "Roboto-Light.ttf";
    font-weight: bold;
    color: var(--color-gray);
    padding: 0px 20px;
}

.second>div span {
    font-size: 30px;
    color: #000000;
    line-height: 70px;
    /* margin-bottom: 80px; */
}

@media screen and (min-width:200px) and (max-width:768px) {
    
}


/* <!-- body3.......... --> */
.third {
    /* background-color: rgb(255, 128, 0); */
    background: var(--color-white);
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    flex-direction: row;
}

.third2 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 70px;
    right: 145px;
    width: 38%;
    height: 350px;
    /* background-color: lightblue; */
    font-family: "Roboto-Light.ttf";
}

.third2>div {
    margin-top: 26px;
}

.third2 h1 {
    /* margin: 30px 20px 10px 0px; */
    /* background-color: #FA5959; */
    font-size: 35px;
    font-weight: bold;
    line-height: 60px;
    margin-top: 10px;
}

.third2 p {
    /* background-color: #79fa59; */
    font-size: 20px;
    font-weight: normal;
    color: var(--color-gray);
    line-height: 35px;
}

.third2 button {
    border: 0px solid;
    border-radius: 10px;
    background-color: var(--color-blue);
    padding: 15px 25px;
    font-size: 16px;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

.third2 button:hover {
    cursor: pointer;
    background: white;
    color: #000000;
}

.third1 img {
    /* background-color: rgb(220, 134, 22); */
    /* border: 10px solid #313131; */
    border-radius: 20px;
    width: 38%;
    height: 340px;
    position: absolute;
    top: 70px;
    left: 133px;
    z-index: 999;
}

.box2 {
    background-color: var(--color-blue);
    border: 0px solid rgb(5, 5, 14);
    border-radius: 0px 160px 160px 0px;
    height: 310px;
    width: 40%;
    position: absolute;
    top: 190px;
    left: 0%;
}


/* <!-- body4.......... --> */
.fourth {
    /* background-color: rgb(217, 255, 0); */
    background: var(--color-white);
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    flex-direction: row;
}

.fourth1 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 70px;
    left: 125px;
    width: 38%;
    height: 350px;
    /* background-color: lightblue; */
    font-family: "Roboto-Light.ttf";
}

.fourth1>div {
    margin-top: 27px;
}

.fourth1 h1 {
    /* margin: 30px 20px 10px 0px; */
    /* background-color: #FA5959; */
    font-size: 35px;
    font-weight: bold;
    line-height: 60px;
    margin-top: 10px;
}

.fourth1 p {
    /* background-color: #79fa59; */
    font-size: 20px;
    font-weight: normal;
    color: var(--color-gray);
    line-height: 30px;
}

.fourth1 button {
    border: 0px solid;
    border-radius: 10px;
    background-color: var(--color-blue);
    padding: 15px 25px;
    font-size: 16px;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

.fourth1 button:hover {
    cursor: pointer;
    background: white;
    color: #000000;
}

.fourth2 img {
    /* background-color: rgb(220, 134, 22); */
    width: 40%;
    height: 350px;
    position: absolute;
    top: 70px;
    right: 133px;
    z-index: 999;
}

.box3 {
    background-color: var(--color-blue);
    border: 0px solid rgb(5, 5, 14);
    border-radius: 160px 0px 0px 160px;
    height: 320px;
    width: 52%;
    position: absolute;
    top: 200px;
    right: 0%;
}


/* <!-- body5.......... --> */

/* <!-- body6.......... --> */
.sixth {
    width: 100%;
    /* background-color: rebeccapurple; */
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.sixth>div {
    text-align: center;
    line-height: 40px;
    font-family: "Roboto-Light.ttf";
    color: var(--color-gray);
    font-weight: bold;
}

.sixth>div h1 {
    color: #000000;
}

/* <!-- body7.......... --> */
.seventh {
    width: 100%;
    /* background-color: #52df78; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 600px;
}

.seven {
    width: 80%;
    /* background-color: rgb(2, 43, 100); */
    height: 700px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    font-family: "Roboto-Light.ttf";
    position: relative;
}

.seven>div {
    border: 0px solid;
    width: 25%;
    height: 330px;
    text-align: center;
    line-height: 35px;
    font-size: 17px;
    box-shadow: 4px 5px 5px rgba(53, 53, 53, 0.3),
        /* Right shadow */
        -5px 0px 5px rgba(53, 53, 53, 0.3),
        /* Left shadow */
        0px 7px 5px rgba(53, 53, 53, 0.3);
    /* Bottom shadow */
}

.seven1>div {
    /* background-color: #5267DF; */
    /* background: var(--color-white); */
    width: 100%;
    height: 260px;
}

.sev2 {
    position: relative;
    top: 30px;
    /* background-color: #df5299; */
}

.sev3 {
    position: relative;
    top: 60px;
    /* background-color: #d64304; */
}

.seven>div h2 {
    /* background-color: #8fdf52; */
    font-size: 25px;
}

.seven1 img {
    /* background-color: #8fdf52; */
    width: 120px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.seven1 .seven3 {
    /* background-color: #52df78; */
    /* margin-top:15px; */
    width: 100%;
    height: 70px;

}

.seven3 button {
    border: 0px solid;
    border-radius: 10px;
    background-color: var(--color-blue);
    padding: 15px 28px;
    font-size: 16px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.seven3 button:hover {
    cursor: pointer;
    background: white;
    color: #000000;
}

.sev1 img {
    /* background-color: #721717; */
    width: 76%;
}


/* <!-- body8.......... --> */
.Eighth {
    /* background-color: #d64304; */
    background: var(--color-white);
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: "Roboto-Light.ttf";
}

.Eighth>div {
    /* background-color: #df5299; */
    width: 50%;
    text-align: center;
    padding: 20px;
    height: 490px;
    color: var(--color-gray);
    line-height: 30px;
    font-weight: bold;
}

.Eighth>div h2 {
    line-height: 30px;
    /* background-color: #d64304; */
    margin-bottom: 20px;
    color: #000000;
}

.eight1 {
    /* background-color: #52a9df; */
    display: flex;
    flex: row wrap;
    width: 50%;
    justify-content: start;
    align-items: start;
    margin-left: 168px;
    column-gap: 70px;
    padding-top: 40px;
    border-bottom: 1px solid rgb(141, 141, 141);
}

.eight1>div p {
    /* background-color: #5267DF; */
    font-size: 14px;
    font-weight: bold;
    width: 230px;
    text-align: left;
}

.Eighth>div button {
    border: 0px solid;
    border-radius: 10px;
    background-color: var(--color-blue);
    padding: 15px 25px;
    font-size: 16px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    margin-top: 30px;
}

.Eighth>div button:hover {
    cursor: pointer;
    background: white;
    color: #000000;
}

/* <!-- body9.......... --> */
.nine {
    background-color: var(--color-blue);
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column wrap;
    font-family: "Roboto-Light.ttf";
}

.nine>div {
    /* border: 1px solid beige; */
    /* background-color: #59faea; */
    width: 50%;
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
}

.nine>div p {
    font-weight: normal;
    font-size: 16px;
}

input {
    margin-top: 30px;
    border: 0px solid;
    border-radius: 10px;
    width: 320px;
    padding: 15px 25px;
    font-size: 16px;
}

.nine button {
    border: 0 solid;
    background-color: var(--color-pink);
    padding: 15px 23px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

.nine>div button:hover {
    cursor: pointer;
    background: white;
    color: #000000;
}

/* <!-- body10.......... --> */
.ten{
    background-color: #242A45;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: rgb(255, 255, 255);
    font-family: "Roboto-Light.ttf";
    font-size: 17px;
}
.ten>div{
    width: 80%;
    height: 100px;
}
.ten1{
    /* background-color: rgb(7, 74, 132); */
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    word-spacing: 40px;
}


@media screen and (min-width:480px) and (max-width:769px) {

    .container1 {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .container1>div {
        margin-top: 20px;
    }

    .cont1 img {
        padding-left: 80px;
    }



    .first {
        /* background-color: #8fdf52; */
        flex-direction: column;
    }

    .first1 {
        position: relative;
        top: 150px;
        left: 160px;
        width: 60%;
        height: 290px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .first1 h1 {
        font-size: 30px;
        font-weight: bold;
        line-height: 50px;
    }

    .first1 p {
        font-size: 20px;
        font-weight: normal;
    }

    .first2 img {
        position: absolute;
        top: 40px;
        left: 190px;
        width: 50%;
        height: 250px;
    }

    .first1 button {
        padding: 15px 30px;
        font-size: 16px;
        font-weight: normal;
        margin-left: 10px;
    }

    .box1 {
        display: none;
    }



    .second>div {
        width: auto;
        margin-left: 10px;
    }



    .third {
        /* background-color: #52a9df; */
        flex-direction: column;
    }

    .third2 {
        position: relative;
        top: 130px;
        left: 162px;
        width: 60%;
        height: 290px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .third2 h1 {
        /* background-color: #FA5959; */
        font-size: 35px;
        font-weight: bold;
        line-height: 40px;
    }

    .third2 p {
        font-size: 20px;
        font-weight: normal;
    }

    .third1 img {
        position: absolute;
        top: 20px;
        left: 200px;
        width: 50%;
        height: 250px;
    }

    .third2 button {
        padding: 15px 30px;
        font-size: 16px;
        font-weight: normal;
    }

    .box2 {
        display: none;
    }



    .fourth {
        /* background-color: #8fdf52; */
        flex-direction: column;
    }

    .fourth1 {
        position: relative;
        top: 130px;
        left: 162px;
        width: 60%;
        height: 290px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .fourth1 h1 {
        font-size: 35px;
        font-weight: bold;
        line-height: 50px;
    }

    .fourth1 p {
        font-size: 20px;
        font-weight: normal;
    }

    .fourth2 img {
        position: absolute;
        top: 25px;
        left: 205px;
        width: 50%;
        height: 250px;
    }

    .fourth1 button {
        padding: 15px 30px;
        font-size: 16px;
        font-weight: normal;
    }

    .box3 {
        display: none;
    }



    
    .sixth>div {
        /* background-color: #5267DF; */
        width: 70%;
        margin-left: 20px;
    }

    .seventh {
        width: 100%;
        /* background-color: #df6752; */
        flex-flow: column wrap;
        justify-content: start;
        align-content: center;
        height: 870px;
    }

    .seven {
        width: 80%;
        /* background-color: rgb(29, 192, 17); */
        height: inherit;
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: start;
    }

    .seven>div {
        border: 1px solid black;
        width: 50%;
        height: 270px;
        text-align: center;
        line-height: 30px;
        font-size: 17px;
    }

    .seven1>div {
        /* background-color: #c1df52; */
        width: 100%;
        height: 200px;
    }

    .sev2 {
        position: relative;
        top: 20px;
        /* background-color: #52dfda; */
    }

    .sev3 {
        position: relative;
        top: 40px;
        /* background-color: #0455d6; */
    }

    .seven>div h2 {
        font-size: 20px;
    }

    .seven1 .seven3 {
        width: 100%;
        height: 70px;
    }

    .seven1 img {
        /* background-color: #8fdf52; */
        width: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .sev1 img {
        /* background-color: #721717; */
        width: 60%;
    }

    .Eighth {
        /* background-color: #FA5959; */
        width: auto;
        height: 620px;
    }

    .Eighth>div {
        width: auto;
        height: 540px;
        /* background-color: #df5299; */
    }

    .Eighth>div p {
        /* background-color: #cb04d6; */
        font-size: 17px;
    }

    .eight1 {
        /* background-color: #a00303; */
        flex: row wrap;
        justify-content: start;
        align-items: start;
        margin-left: 22px;
        padding-top: 38px;
    }

    .nine>div{
        width: 80%;
    }
    .ten>div{
        /* background-color: #313131; */
        width: 60%;
    }
    .ten1{
        /* background-color: #FA5959; */
        flex-direction: column; 
    }
    .ten1>div{
        /* background-color: #5267DF; */
        padding-bottom: 20px;
    }
}

